@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('imagens/fundo-madeira.jpg') no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

main{
    
}

.cell{
    
    
    background: url('frame-iphone.png')no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 620px;
      
}

#tela{
    
    width: 275px;
    height: 520px;
}

